<p></p>
<div class="row justify-content-center col mb-3">
    <div class="col-sm-12 aling-self-center">
        <div class="container" id="contenedorp">
            <div class="row justify-content-center">
                <div class="row justify-content-center">
                    <div class="row mb-3">
                        <div class="col-sm-5 mb-3">
                            <p></p>
                            <div class="col-sm-12 card" id="cActividad">
                                <div class="card">
                                    <div class="card-header" id="gActividadesh">
                                        <h2 style="text-align: center">ACTIVIDADES</h2>
                                    </div>
                                    <div class="card-body" style="background-color: white">
                                        <form>
                                            <div class="row mb-3 justify-content-center">
                                                <div class="col-sm-8">
                                                    <select class="form-select form-select-lg mb-3">
                                                        <option selected>Asignatura</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input class="form-control mb-3" type="text" placeholder="Nombre">
                                                </div>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control mb-3" type="text"
                                                        placeholder="Descripción"></textarea>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input class="form-control mb-3" type="number"
                                                        placeholder="Porcentaje de valor">
                                                </div>
                                                <div class="col-sm-8">
                                                    <label for="fecha">Fecha de entrega</label>
                                                    <input class="form-control mb-3" type="date" id="fecha">
                                                </div>
                                                <div class="col-sm-8">
                                                    <label for="fecha">Hora limite</label>
                                                    <input class="form-control mb-3" type="time" id="fecha">
                                                </div>
                                                <div class="col-sm-5 aling-self-end">
                                                    <button type="button" class="btn btn-primary">Añadir</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7 mb-3">
                            <P></P>
                            <div class="row mb-3">
                                <div class="card border-dark col-sm-12">
                                    <div class="card-header" id="avance">Tus asignaturas</div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row mb-3 justify-content-center">
                                                <div class="col-sm-4">
                                                    <input class="form-control mb-3" type="text" placeholder="Codigo">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input class="form-control mb-3" type="text" placeholder="Nombre">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input class="form-control mb-3" type="number"
                                                        placeholder="creditos">
                                                </div>
                                                <div class="col-sm-5 aling-self-end">
                                                    <button type="button" class="btn btn-primary">Añadir</button>
                                                </div>
                                                <div class="col-sm-5 aling-self-end">
                                                    <button type="button" class="btn btn-primary">Actualizar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <table class="table table-bordered border-dark table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Codigo</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Creditos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>0987</td>
                                                <td>Electiva II</td>
                                                <td>3</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>