<p></p>
<div class="row justify-content-center col mb-3">
    <div class="col-sm-12 aling-self-center">
        <div class="container" id="contenedorp">
            <div class="row justify-content-center">
                <div class="row mb-3">
                    <div class="col-sm-7 mb-3">
                        <p></p>
                        <h2 style="text-align: center">Actividades</h2>
                        <div class="col-sm-12" id="cActividad">
                            <h4 style="text-align: center">Actividad</h4>
                            <p>Asignatura:</p>
                            <p>Fecha de entrega:</p>
                            <p>Descipción: </p>
                            <p>Avance: </p>
                            <p id="alerta">Quedan: </p>
                            <form>
                                <div class="row mb-3 justify-content-center">
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" placeholder="Nota">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary">Registrar entrega</button>
                                    </div>
                                </div>
                                <div class="row mb-3 justify-content-center">
                                    <div class="col-sm-6">
                                        <label for="Nf">Nueva fecha</label>
                                        <input class="form-control" type="date" placeholder="Nueva fecha" id="Nf">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary"
                                            style="background-color:#47525E">Registrar cambio</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-5 mb-3">
                        <P></P>
                        <h3 style="text-align: center">Balance</h3>
                        <div class="row mb-3">
                            <div class="card border-dark col-sm-12">
                                <div class="card-header ">RENDIMIENTO</div>
                                <div class="card-body">
                                    <form>
                                        <div class="row mb-3 justify-content-center">
                                            <div class="col-sm-8 aling-self-center">
                                                <select class="form-select form-select-lg mb-3">
                                                    <option selected>Asignatura</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-primary">Buscar</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="container" id="Ntotal">
                                                <label>Tienes</label>
                                                <h1>3.0</h1>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="container" id="Nnecesita">
                                                <label>Falta</label>
                                                <h1>3.0</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="card border-dark col-sm-12">
                                <div class="card-header" id="avance">REGISTRAR AVANCE</div>
                                <div class="card-body">
                                    <form>
                                        <div class="row mb-3 justify-content-center">
                                            <div class="col-sm-8">
                                                <select class="form-select form-select-lgt mb-3">
                                                    <option>Asignatura</option>
                                                </select>
                                                <select class="form-select form-select-lgt mb-3 col-sm-12">
                                                    <option>Actividad</option>
                                                </select>
                                                <input class="form-control col-sm-12 mb-3" type="number"
                                                    placeholder="Avance">
                                                <div class="col-sm-12 mb-3">
                                                    <button type="button" class="btn btn-primary">Registrar
                                                        avance</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>